.header {
  display: flex;
  position: fixed;
  background-color: #f1f3f5;
  align-items: center;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  border: 1px solid #d5dfe6;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 1;
}

.logoAndTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
}

.icon {
  display: flex;
  margin-top: 7px; /* Adjust the margin to position the icon lower */
  margin-left: 5px; /* Add margin for spacing */
}

.headerName {
  font-family: Copperplate, sans-serif;
  color: black;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 1;
}

.searchHeader {
  position: fixed;
  left: 160px;
  right: 12%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

@media screen and (min-width: 767px) {
  .searchHeader {
    padding-left: 30px;
    right: 12%;
  }
}

@media (max-width: 767px) {
  .headerName {
    display: none;
  }
  .searchHeader {
    left: 80px;
    right: 27%;
  }
  .icon {
    margin-bottom: 4px;
  }
  .header {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  }
}

.hammiIconOpen {
  height: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border: 3px solid transparent;
  border-radius: 25%;
}

.hammiIconClose {
  height: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.hammiIconOpen:hover,
.hammiIconOpen:focus,
.hammiIconOpen:active,
.hammiIconClose:hover,
.hammiIconClose:focus,
.hammiIconClose:active {
  border: 3px solid;
  border-radius: 25%;
  filter: invert(0.5) sepia(0.2);
}

.userIcon {
  height: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border: 3px solid transparent;
  border-radius: 25%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 3%;
}
