.slider {
  margin-left: 10px;
  color: gray;
  width: 20px;
}

.range-year-section {
  padding-top: 10px;
  width: 80%;
}

.switch {
  padding-left: 10px;
}

.filter-and-sort-container {
  padding-top: 5px;
  margin-left: 15px;
}

.genre-section {
  width: 85%;
  padding-top: 20px;
}
