:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #dedede;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
}

h1 {
  font-size: 230%;
  line-height: 1.1;
}

.header {
  display: flex;
  position: fixed;
  background-color: #f1f3f5;
  align-items: center;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  border: 1px solid #d5dfe6;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 1;
}

.home {
  position: fixed;
  right: 3%;
}

.logoAndTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
}

.icon {
  display: flex;
  margin-top: 7px; /* Adjust the margin to position the icon lower */
  margin-left: 5px; /* Add margin for spacing */
}

.headerName {
  font-family: Copperplate, sans-serif;
  color: black;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 10px; /* Move the text higher */
  margin-bottom: 1; /* Remove margin from the bottom */
}

.searchContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.logo {
  width: 28%;
  height: 28%;
  object-fit: contain;
  margin-left: 2rem;
}

.searchHeader {
  position: fixed;
  width: 40%;
  right: 20%;
  top: 0px;
}
