.previewMovies {
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  margin-left: -5px;
}

.movies-container{
  display: flex;
  overflow-x: hidden; /* Hide horizontal scrollbar of the body */
  object-fit: contain;
}

.movies-container-header{
  margin-left: 0.5em;
}

.scrollable-container {
  width: 98vw; /* 100% of the viewport width */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping */
  display: flex; /* Use flex display for content */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content {
  width: 200%; /* Make the content twice as wide as the viewport */
  /* padding: 20px; */
  /* Add your content styles here */
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
