.results {
  margin-top: 90px;
}

/* Results.css */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap as needed */
}

@media screen and (min-width: 768px) {
  .row {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (min-width: 1200px) {
  .row {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 1%;
}
