.results {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 90px; /* Change margin-top to padding-top */
  padding-left: 5%;
  padding-right: 5%;
}

.row {
  display: grid;
  gap: 10px; /* Adjust the gap as needed */
}

@media screen and (min-width: 768px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
  }
  .results {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 767px) {
  .results {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.card {
  display: flex;
  flex: 1;
  padding: 1%;
}
